<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
    
</head>
<body>
    <section class="about">
    <h1>About Us</h1>
    <img src="/static/Images/about.jpg" alt="">
    <h2>Why Choose Us?</h2>
    
    <p>J&B Makelaars (formerly Expat Property Brokers) is built on the ethos of service beyond expectations. 
        Our focus has always been on quality service and working together to achieve an ideal outcome for our valued clients. 
        We aim to build our brand and positively redefine the real estate market with personal and exceptional service.<br><br>
        J&B Makelaars was established in 2016 by experienced international estate agent Bridgette Ball and her husband
        Jason Ball. We wanted to establish a brand that we felt best represented our values. Over the years 
        the business has shown a natural growth in the expat property market as we have an understanding of having walked
        in the shoes of our clients being expats ourselves.<br><br>
        That is why, for a period, the company was renamed Expat Property Brokers and began focusing primarily on expat 
        property. With this success, more expat agencies began targeting the expat market, positioning themselves as 
        expat specialists, and the name “Expat Property Brokers” became diluted, becoming as “an” rather than 
        “the” expat property brokerage. Hence, in 2023 we decided to change our name back to J&B Makelaars.<br><br>
        “We are returning to our roots as J&B Makelaars to serve expats with a specialised, personal touch,” says Bridgette. 
        “We want our clients to feel like they’ve found a true home whenever they come to us for assistance. 
        This is whether they are looking for a rental, buying a new home or selling their existing property.<br><br>
        “Our mission at J&B Makelaars remains the same – to provide comprehensive real estate services 
        tailored specifically for expats in the Netherlands. Our goal is to help you find your next home easily and confidently.
        We are Your Expat Property Broker, an experienced team that understands how to handle your real estate needs as an expat.”<br><br>
        Our keen understanding of the market and our clients’ needs allow us to craft the best estate solutions 
        that offer exceptional service to clients at affordable rates.
    </p>
    <div class="k">
        <div class="1">
            <div class="icon"> &#129309</div>
            <div class="text">Personal Relationship</div>
        </div>
        <div class="2">
            <div class="icon"> &#127895</div>
            <div class="text">Exceptional Services</div>
        </div>
        <div class="3">
            <div class="icon">&#128178</div>
            <div class="text">Affordable Rates</div>
        </div>
    </div>
</section>
    {% include 'apps\footer.html' %}
</body>
</html>