<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
</head>
<body>
    <section class="footer">
        <footer>
          <div class="row">
            <div class="column">
              <img src="/static/Images/spp.png"  class="logo">
              <p>Selling or renting out your property is no longer a tedious task. 
                You can easily sell or rent out a property online with Kerala's Own Real Estate Portal, 
                List your property with us and we help you find the ideal buyer or tenant quickly and conveniently. 
                Start posting your property by clicking the property type of your choice.
              </p>
            </div>
            <div class="column">
              <h3>Office</h3>
              <p>Kinfra Office Rd, <br>Infopark Campus, Kochi, <br>Kakkanad,<br> Kerala 682030</p>
              <p class="email-id">soumyapkpzha@gmail.com</p>
              <h4>+91-0123456789</h4>
            </div>
            <div class="column">
              <ul>
                <h3>Links</h3>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
              <ul>
            </div>
            <div class="column">
              <h3>Newsletter</h3>
              <form action="">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" placeholder="Enter your email id">
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
              </form>
              <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-pinterest"></i>
              </div>
            </div>
          </div>
          <hr>
          <p class="copyright">Copyright © 2024, Real Esate management. All rights reserved.</p>
        </footer>
        </section>
      
</body>
</html>